include template.pug

+set('custom')
  .h-full
    img.lazy.mx-auto.w-full.object-contain(class='md:p-8 md:h-1/2' alt=name src=require(`../tiny/pangolin_tiny`) data-src=require(`../art/pangolin`))
    img.lazy.mx-auto.w-full.object-contain(class='md:p-8 md:h-1/2' alt=name src=require(`../tiny/pangolin_tiny`) data-src=require(`../media/pangolin_stare.png`))
+set('title') Project Pangolin
+set('info') Paper/Cardboard Installation, 2021
+set('desc') Inspired by pangolins and cardboard homeless shelters, I sought to create a colorful sculpture that I could become a part of.
+layout('pangolin')
