- blocks = {}

mixin set(key)
  - blocks[key] = this.block

mixin layout(name)
  include base.pug
  +base()
    script window.fastload = true

    .relative.w-screen.h-screen
      .w-full(class='md:h-screen' style='min-height: 50%')
        if blocks.custom
          - blocks.custom()
        else if blocks.lbox
          .h-full.center-flex
            img.lazy.m-auto.w-full.h-full.object-contain(class='md:p-8 md:max-w-prose' alt=name src=require(`../tiny/${name}_tiny`) data-src=require(`../art/${name}`))
        else
          img.lazy.m-auto.w-full.h-full.object-contain(alt=name src=require(`../tiny/${name}_tiny`) data-src=require(`../art/${name}`))

      +prose()
        h1.text-white.text-3xl.uppercase
          - blocks.title()
        p.bold.text-gray-500.text-2xl
          - blocks.info()
        p.text-xl.mt-4
          - blocks.desc()
