doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Ben Pang
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Syne:wght@500&family=Trispace:wght@200&display=swap')

  body.font-tri.overflow-x-hidden.bg-gray-900.text-gray-200

    header.relative.flex.w-screen.h-screen
      .absolute.bottom-0.right-0.w-auto(class='h-1/2 lg:h-3/4' data-aos='fade-right')
        img.h-full(src=require('./media/me_red_500.svg'))
      .m-auto.z-10(class='lg:w-3/4 h-1/4 md:h-1/3 lg:h-3/4 2xl:h-1/3' data-aos='fade-in')
        h1.text-7xl.mb-4(class='lg:text-9xl') BEN PANG
        small.text-xl.ml-2(class='lg:text-3xl') I make weird things happen
          span(x-data x-init='setInterval(_=>{Index.glitch($el)}, 500)') .

    mixin thumb(name)
      img.lazy.w-full.mb-8(
        data-aos='fade-up'
        alt=name
        src=require(`./tiny/${name}_tiny.png`)
        data-src=require(`./thumbnails/${name}_thumb.png`))

    section.flex.w-screen.divide-x.divide-gray-800
      div
        .vert.sticky.top-0.pl-4.pt-4.text-7xl(class='lg:text-9xl' data-aos='fade-right')
          h1.text-gray-800.transform.origin-center.rotate-180.inline-block ART
      .px-5(class='md:container')
        .masonry.mb-8
          each f in htmlWebpackPlugin.options.art
            +thumb(f)

    section.flex.w-screen.divide-x.divide-gray-800
